[submodule "dependencies/lunatik"]
	path = dependencies/lunatik
	url = https://github.com/luainkernel/lunatik.git
[submodule "dependencies/luadata"]
	path = dependencies/luadata
	url = https://github.com/lneto/luadata.git
